<footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="#">条款和条件</a></li>
                    <li><a href="#">隐私条款</a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/story">常问问题</a></li>
                    <li><a href="/contact" aria-label="contact page">联络我们</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>通讯</h3>
                <div id="subscribeBox">
                    <form id="subscribeForm" novalidate="">
                        <div class="form-group"><label for="newsEmail">电邮</label><input class="form-control" type="email" id="newsEmail" name="email" required=""><div class="invalid-feedback">不合规电邮</div></div><button class="btn btn-primary" id="newsBtn" type="submit">订阅</button></form>
                </div>
                <div class="thanks-subscribe">
                    <p id="successRespond2">感谢您订阅我们！</p>
                </div>
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>