<footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="haircare page">Products</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/story">FaQ</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>Newsletter</h3>
                <div id="subscribeBox">
                    <form id="subscribeForm" novalidate="">
                        <div class="form-group"><label for="newsEmail">Email Address</label><input class="form-control" type="email" id="newsEmail" name="email" required=""><div class="invalid-feedback">Invalid Email</div></div><button class="btn btn-primary" id="newsBtn" type="submit">Subscribe</button></form>
                </div>
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>