<header id="topbar">
   <div id="slideBar">
      <div id="topOffer">
         <div class="slider-offer .mover-1">
            <p>@{repository.banner}<br></p><div class="running-contact">&nbsp;<i class="icon-envelope"></i>&nbsp;<p>oricare@gmail.com</p>&nbsp;<i class="icon-headset"></i>&nbsp;<p>@{repository.contact}</p></div>
         </div>
      </div>
      <div class="top-contact-box">
         <div class="container contact">
            <ul class="top-contact">
               <li>
                  <div><i class="icon-envelope"></i></div>
                  <div>
                     <p>oricare@gmail.com<br></p>
                  </div>
               </li>
               <li>
                  <div><i class="icon-headset"></i></div>
                  <div>
                     <p>@{repository.contact}<br></p>
                  </div>
               </li>
            </ul>
            <div id="languageBar">
               <a href="/@{repository.pages}" aria-label="en version">
               <i class="icon-united-kingdom path1"></i>
               <i class="icon-united-kingdom path2"></i>
               <i class="icon-united-kingdom path3"></i>
               <i class="icon-united-kingdom path4"></i>
               <i class="icon-united-kingdom path5"></i>
               <i class="icon-united-kingdom path6"></i>
               <i class="icon-united-kingdom path7"></i>
               <i class="icon-united-kingdom path8"></i>
               <i class="icon-united-kingdom path9"></i>
               <i class="icon-united-kingdom path10"></i>
               <i class="icon-united-kingdom path11"></i>
               <i class="icon-united-kingdom path12"></i>
               <i class="icon-united-kingdom path13"></i>
               <i class="icon-united-kingdom path14"></i>&nbsp;</a>
               <div></div>
               <a href="/cn/@{repository.pages}" aria-label="cn version">&nbsp;
               <i class="icon-china path1"></i>
               <i class="icon-china path2"></i>
               <i class="icon-china path3"></i>
               <i class="icon-china path4"></i>
               <i class="icon-china path5"></i>
               <i class="icon-china path6"></i>
               <i class="icon-china path7"></i>
               </a>
            </div>
         </div>
         <div class="top-contact-logo"><a href="@{repository.home}" aria-label="homepage"><img id="topLogo" alt="logo" src="/assets/img/Logo-Oricare.png"></a>
         </div>
      </div>
   </div>
   <!-- Start: Bold BS4 Navbar Scroll Color Change -->
   <nav class="navbar navbar-light navbar-expand-md fixed-top">
      <div class="container-fluid">
         <a class="navbar-brand" href="@{repository.home}" aria-label="home page"><img class="nav-logo" src="/assets/img/Logo-Oricare.png" alt="logo"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
         <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
               @{foreach navItem in repository.nav}
               <li class="nav-item" role="presentation"><a class="@{navItem.class} nav-link" href="@{navItem.url}" aria-label="@{navItem.text} Page">@{navItem.text}</a></li>
               @{end}
            </ul>
         </div>
      </div>
   </nav>
   <!-- End: Bold BS4 Navbar Scroll Color Change -->
</header>