
    
    <!-- Start: contactForm with detail -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;Contact Us</h2>
            </div>
        </div>
        <div class="contact-box">
            <div class="container contact-inner" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                <div class="contact-left">
                    <p>Have enquiries? No problem, we will attend to you as soon as we can. For the fastest response, please give us a call or drop us a Whatsapp message with the number below.&nbsp;<br><br><strong>Ofﬁce Address: </strong><br>No 222, Jalan
                        222, Lorong 2/2,<br>Taman Area Location Name.<br>Selangor, Malaysia.<br><br><strong>Email:</strong><br>oricare@gmail.com<br><br><strong>Call/Whatsapp:</strong> <br>+60 12-345-6789<br><br></p>
                </div>
                <div class="contact-right">
                    <div id="email">
                        <form id="submitForm" novalidate="">
                            <div class="form-group"><label for="name">Your Name</label><input class="form-control" type="text" name="name" required="" aria-label="name"><div class="invalid-feedback">Invalid Name</div></div>
                            <div class="form-group"><label for="email">Your Email</label><input class="form-control" type="email" required="" name="email" aria-label="email"><div class="invalid-feedback">Invalid Email</div></div>
                            <div class="form-group"><label for="message">Message</label><textarea class="form-control" id="message" name="message" rows="4"></textarea><div class="invalid-feedback">Please put your Messages</div></div><button class="btn btn-primary learnmore-btn" id="sendMessage" type="submit">Send Message</button></form>
                    </div>
                    <div class="thanks-subscribe">
                        <p id="successRespond">Thank You! We Will Reply You Soon...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: contactForm with detail -->
    <!-- Start: User footer -->
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="product page">Hair Care</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/" aria-label="contact page">Home</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End: User footer -->
    
    
    
    


