
    
    <!-- Start: product&slide detail -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;Hair Care</h2>
            </div>
        </div>
        <div class="container bottom-section-container" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
            <div class="product-inner">
                <a aria-label="carousel-1" data-slide-to="0" data-target="#carousel-1">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="assets/img/passion.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare Nourishing <br>Passion Fruits <br>Shampoo 350ml<br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-slide-to="1" data-target="#carousel-1">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="assets/img/raspberries.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare Nourishing <br>Raspberries&nbsp;<br>Shampoo 350ml<br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-slide-to="2" data-target="#carousel-1">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="assets/img/grapefruit.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare Nourishing <br>Grapefruits &amp; Citrus<br>Shampoo 350ml<br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-slide-to="3" data-target="#carousel-1">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="assets/img/conditioner.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare Nourishing&nbsp;<br>Flowery Conditioner<br>350ml<br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <div id="productDetail"></div>
            </div>
            <h3 class="product-title">Product Detail<br></h3>
            <hr>
        </div>
        <div class="product-bottom-section">
            <div class="container">
                <div id="carousel-1" class="carousel slide" data-ride="carousel" data-aos-once="true">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active" role="option">
                            <div class="item-inner">
                                <h3>OriCare Nourishing Passion Fruits Shampoo 350ml<br></h3>
                                <p>For normal hair. The nourishing blend of natural Passion Fruits, Avocado Oil, Olive Oil, and Wheat Protein respects the natural balance of the scalp and hair, making it ideal for daily use. The pure extract from passion
                                    fruits functions to promote healthier hair and scalp while avocado oil and olive oil boosts shine and stronger texture in your hair. Infused with wheat protein to strengthen hair roots and to minimise hair loss. Suitable
                                    for all ages and for family use.<br><br></p>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="assets/img/passion.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>Thoroughly wet your hair before applying Oricare Nourishing Shampoo</li>
                                        <li>Apply Oricare Nourishing Shampoo sparingly to wet hair work into a rich lather.</li>
                                        <li>Rinse your hair thoroughly. Re-apply shampoo and rinse again if necessary.&nbsp;</li>
                                        <li>Use Oricare Revitalising Flowery Conditioner - work evenly through damp hair. Leave conditioner on for a full minute before rinsing.<br></li>
                                    </ul>
                                </div>
                                <h5><strong>What to expect from your transition from commercial to natural shampoo</strong>&nbsp;<br></h5>
                                <p>Commercial liquid shampoos and conditioners contain synthetic silicones and silica that coat your hair to give it a superﬁcially aesthetic texture, but at the same time leaves residue in your hair. Synthetic silicones are
                                    derived from polymers which is a soft. plastic, gel-like substance that are difﬁcult to remove from your hair and scalp.&nbsp;<br><br>When you switch to an all-natural shampoo, you will no longer have these chemicals
                                    and residue in your hair - hence, you may notice reduced shine in your hair initially. However, bear in mind that the initial stages of reduced shine is due to having artiﬁcial chemicals stripped from your hair. This
                                    prepares your natural hair to undergo a transition period before it is fully free of the chemicals and residues from previous hair products.&nbsp;<br><br>To enjoy the fullest effect of Oricare Nourishing Shampoo, give
                                    it a few days to a few weeks to start seeing true healthier effects in your hair and scalp.. During this transition period, your hair may feel dry or greasy - but the unease will gradually disappear completely as your
                                    hair and scalp adapts to a 100% natural hair care regimen just as nature has intended to be.<br></p>
                            </div>
                        </div>
                        <div class="carousel-item" role="option">
                            <div class="item-inner">
                                <h3>OriCare Nourishing Raspberries Shampoo 350ml<br></h3>
                                <p>A special formula to combat hair loss with natural ingredients. The nourishing blend of Raspberries and Wheat Protein creates a naturally invigorating molecule that strengthens hair to restore thickness and volume to thinning
                                    hair. Raspberries are proven to contain nutrients for a healthier scalp, reduced hair loss, and promotion of hair growth. Infused with wheat protein to strengthen hair roots and to minimise hair loss. Suitable for both
                                    men &amp; women with thinning hair.<br><br></p>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="assets/img/raspberries.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>Thoroughly wet your hair before applying Oricare Nourishing Shampoo</li>
                                        <li>&nbsp;Apply Oricare Nourishing Shampoo sparingly to wet hair work into a rich lather.</li>
                                        <li>Rinse your hair thoroughly. Re-apply shampoo and rinse again if necessary.&nbsp;</li>
                                        <li>Use Oricare Revitalising Flowery Conditioner - work evenly through damp hair. Leave conditioner on for a full minute before rinsing.<br></li>
                                    </ul>
                                </div>
                                <h5><strong>What to expect from your transition from commercial to natural shampoo</strong>&nbsp;<br></h5>
                                <p>Commercial liquid shampoos and conditioners contain synthetic silicones and silica that coat your hair to give it a superﬁcially aesthetic texture, but at the same time leaves residue in your hair. Synthetic silicones are
                                    derived from polymers which is a soft. plastic, gel-like substance that are difﬁcult to remove from your hair and scalp.&nbsp;<br><br>When you switch to an all-natural shampoo, you will no longer have these chemicals
                                    and residue in your hair - hence, you may notice reduced shine in your hair initially. However, bear in mind that the initial stages of reduced shine is due to having artiﬁcial chemicals stripped from your hair. This
                                    prepares your natural hair to undergo a transition period before it is fully free of the chemicals and residues from previous hair products.&nbsp;<br><br>To enjoy the fullest effect of Oricare Nourishing Shampoo, give
                                    it a few days to a few weeks to start seeing true healthier effects in your hair and scalp.. During this transition period, your hair may feel dry or greasy - but the unease will gradually disappear completely as your
                                    hair and scalp adapts to a 100% natural hair care regimen just as nature has intended to be.<br></p>
                            </div>
                        </div>
                        <div class="carousel-item" role="option">
                            <div class="item-inner">
                                <h3>OriCare Nourishing Grapefruits &amp; Citrus Shampoo 350ml<br></h3>
                                <p>A special formula to combat dandruff and scalp ﬂaking with natural ingredients. The nourishing blends of natural Grapefruits, Citrus, Tea Tree Oil, and Wheat Protein puriﬁes the scalp from both internal and external irritants,
                                    leaving a soothing and cooling sensation on the scalp after application. Grapefruit extracts help in tackling bacteria that causes the scalp to ﬂake and preventing hair follicles from being clogged by dry skin. Citrus
                                    essence strengthens and stimulates hair growth, while tea tree oil serves as a natural antifungal, antibacterial, antiseptic, antiviral, and anti-infection. Infused with wheat protein to strengthen hair roots and to
                                    minimise hair loss. Suitable for all ages and skin types.<br><br></p>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="assets/img/grapefruit.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>Thoroughly wet your hair before applying Oricare Nourishing Shampoo</li>
                                        <li>&nbsp;Apply Oricare Nourishing Shampoo sparingly to wet hair work into a rich lather.</li>
                                        <li>Rinse your hair thoroughly. Re-apply shampoo and rinse again if necessary.&nbsp;</li>
                                        <li>Use Oricare Revitalising Flowery Conditioner - work evenly through damp hair. Leave conditioner on for a full minute before rinsing.<br></li>
                                    </ul>
                                </div>
                                <h5><strong>What to expect from your transition from commercial to natural shampoo</strong>&nbsp;<br></h5>
                                <p>Commercial liquid shampoos and conditioners contain synthetic silicones and silica that coat your hair to give it a superﬁcially aesthetic texture, but at the same time leaves residue in your hair. Synthetic silicones are
                                    derived from polymers which is a soft. plastic, gel-like substance that are difﬁcult to remove from your hair and scalp.&nbsp;<br><br>When you switch to an all-natural shampoo, you will no longer have these chemicals
                                    and residue in your hair - hence, you may notice reduced shine in your hair initially. However, bear in mind that the initial stages of reduced shine is due to having artiﬁcial chemicals stripped from your hair. This
                                    prepares your natural hair to undergo a transition period before it is fully free of the chemicals and residues from previous hair products.&nbsp;<br><br>To enjoy the fullest effect of Oricare Nourishing Shampoo, give
                                    it a few days to a few weeks to start seeing true healthier effects in your hair and scalp.. During this transition period, your hair may feel dry or greasy - but the unease will gradually disappear completely as your
                                    hair and scalp adapts to a 100% natural hair care regimen just as nature has intended to be.</p>
                            </div>
                        </div>
                        <div class="carousel-item" role="option">
                            <div class="item-inner">
                                <h3>OriCare Revitalizing Flowery Conditioner 350ml<br></h3>
                                <p>For normal hair. The nourishing blend of natural Passion Fruits, Avocado Oil, Olive Oil, and Wheat Protein respects the natural balance of the scalp and hair, making it ideal for daily use. The pure extract from passion
                                    fruits functions to promote healthier hair and scalp while avocado oil and olive oil boosts shine and stronger texture in your hair. Infused with wheat protein to strengthen hair roots and to minimise hair loss. Suitable
                                    for all ages and for family use.<br><br></p>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="assets/img/conditioner.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>Thoroughly wet your hair before applying Oricare Nourishing Shampoo</li>
                                        <li>&nbsp;Apply Oricare Nourishing Shampoo sparingly to wet hair work into a rich lather.</li>
                                        <li>Rinse your hair thoroughly. Re-apply shampoo and rinse again if necessary.&nbsp;</li>
                                        <li>Use Oricare Revitalising Flowery Conditioner - work evenly through damp hair. Leave conditioner on for a full minute before rinsing.<br></li>
                                    </ul>
                                </div>
                                <h5><strong>What to expect from your transition from commercial to natural shampoo</strong>&nbsp;<br></h5>
                                <p>Commercial liquid shampoos and conditioners contain synthetic silicones and silica that coat your hair to give it a superﬁcially aesthetic texture, but at the same time leaves residue in your hair. Synthetic silicones are
                                    derived from polymers which is a soft. plastic, gel-like substance that are difﬁcult to remove from your hair and scalp.&nbsp;<br><br>When you switch to an all-natural shampoo, you will no longer have these chemicals
                                    and residue in your hair - hence, you may notice reduced shine in your hair initially. However, bear in mind that the initial stages of reduced shine is due to having artiﬁcial chemicals stripped from your hair. This
                                    prepares your natural hair to undergo a transition period before it is fully free of the chemicals and residues from previous hair products.&nbsp;<br><br>To enjoy the fullest effect of Oricare Nourishing Shampoo, give
                                    it a few days to a few weeks to start seeing true healthier effects in your hair and scalp.. During this transition period, your hair may feel dry or greasy - but the unease will gradually disappear completely as your
                                    hair and scalp adapts to a 100% natural hair care regimen just as nature has intended to be.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="control control-prev" href="#carousel-1" data-slide="prev" role="button" aria-label="prev"><i class="icon-back"></i></a><a class="control control-next" href="#carousel-1" data-slide="next" role="button" aria-label="next"><i class="icon-next"></i></a></div>
    </section>
    <!-- End: product&slide detail -->
    <!-- Start: User footer -->
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="product page">Hair Care</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/" aria-label="contact page">Home</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End: User footer -->
    
    
    
    


