
    
    <section class="top-section page-section">
        <div class="container top-section-inner">
            <div data-aos="fade" data-aos-duration="1000" data-aos-once="true" class="header-inner">
                <div class="top-content">
                    <p class="green-text">Back To Nature With<br></p>
                    <h2><strong>Botanical&nbsp;</strong><br><strong>Science&nbsp;</strong><br></h2>
                    <p>Derived from 100% natural fruits, ﬂowers, and herbs, our hair care product range is infused with pure botanical ingredients - crafted by chemists with 40 years of background in creating natural products for hair &amp; skin.</p>
                </div>
            </div>
        </div>
        <div class="top-socialBtn"><a id="fbBtn" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="fa icon-facebook-1"></i></a><a id="instaBtn" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram"></i></a></div>
    </section>
    <!-- Start: 1 Row 4 Columns -->
    <div id="after-header">
        <div class="container">
            <div class="row after-header-inner">
                <div class="col-md-3 after-header-box">
                    <div class="header-box-inner">
                        <div data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true"><i class="fa icon-box"></i>
                            <div class="header-box-content">
                                <p><strong>For Sensitive Skin</strong><br></p>
                                <p>No bleach, no artiﬁcial fragrance that irritates sensitive skin types<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 after-header-box">
                    <div class="header-box-inner">
                        <div data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true"><i class="fa icon-medal"></i>
                            <div class="header-box-content">
                                <p><strong>Botanical Ingredients 100% imported from USA&nbsp;</strong><br></p>
                                <p>Fruits, ﬂowers, &amp; herbs cultivated in America<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 4 Columns -->
    <!-- Start: homeproduct -->
    <section id="homeProduct">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <p>Discover Our Range Of 100% Vegan Natural Hair Care<br></p>
                <p>Nourishing Botanical Shampoo</p>
            </div>
            <div class="product-box">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="left">
                    <div class="box-bottom-content"><a class="learnmore-btn float-right" href="/haircare" aria-label="product page">Learn more</a></div>
                    <div class="product-box-bg"></div>
                    <div class="box-top-content">
                        <h3>Nourishing Raspberries&nbsp;<br>Shampoo<br></h3>
                        <p><strong>For Fuller</strong><br><strong>&amp; Lusher</strong><br><strong>Hair Volume</strong><br></p>
                    </div>
                </div>
                <div class="right">
                    <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="box-right-top">
                        <div class="box-top-content">
                            <h3>Nourishing Grapefruits &amp; Citrus Shampoo&nbsp;<br></h3>
                            <p>For Combating <br>Dandruff &amp; Dry Scalp<br></p>
                        </div>
                        <div class="box-bottom-content"><a class="learnmore-btn float-right" href="/haircare" aria-label="product page">Learn more</a></div>
                        <div class="product-box-bg top"></div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="box-right-bottom">
                        <div class="box-right-inner">
                            <h3>Nourishing Botanical Shampoo Collection<br></h3>
                            <div></div><a class="learnmore-btn" href="/haircare" aria-label="product page">Learn More</a></div>
                        <div class="product-box-bg bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: homeproduct -->
    <!-- Start: ingredients -->
    <section id="homeIngredients">
        <div class="container container-ingredients">
            <div class="ingredients-content">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="ingredients-top">
                    <p>100% Certiﬁed Raw Ingredients </p>
                    <p>Our Passion For<br>Nature &amp; Botany<br></p>
                    <p>Unlike most shampoo products available on shelves today, our products do not contain bleach, alcohol, Sodium lauryl sulfate, or any synthetic chemicals. OriCare shampoo products are made with 90% botanical ingredients and 10% pure
                        water - ensuring a toxin-free thorough wash that retains the natural essential oils and moisture levels in all hair types and sensitive scalps.&nbsp;<br></p><a class="learnmore-btn" href="/ingredients" aria-label="ingredients page">Find out more</a></div>
            </div>
        </div>
    </section>
    <!-- End: ingredients -->
    <!-- Start: simple testimonials -->
    <section id="homeTestimonials">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <h2 class="title-1">Product Testimonials<br></h2>
                <p>What Our Customers Say<br></p>
            </div>
            <div class="testimonial-bottom">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="testimonial-box">
                    <p>“I am really impressed with the Raspberries shampoo. Although it is a RM49 product, it exceeds all my expectations. My hair loss is no longer serious - and my hair feels thicker after switching to this shampoo.”<br><br></p>
                    <p><strong>Ms. Angie Chia</strong><br></p>
                </div>
                <div data-aos="fade-up" data-aos-duration="1400" data-aos-once="true" class="testimonial-box">
                    <p>“As a Hijabi, for me to ﬁnd a suitable shampoo that can balance the oil level on my scalp is not easy. Plus, I’m a nature-advocate too. Currently using Passion Fruit shampoo and I love it - my hair feels fresh even after a whole day
                        out.”<br><br></p>
                    <p><strong>Ms. Iya Shamsul</strong><br></p>
                </div>
                <div data-aos="fade-up" data-aos-duration="1800" data-aos-once="true" class="testimonial-box">
                    <p>"My scalp is usually itches and ﬂakes. The average I spent on professional hair care goes up to RM500 a month. But after I tried the Grapefruit &amp; Citrus shampoo - and my condition improved over 3 months. I saved so much!”<br><br></p>
                    <p><strong>Mdm. Khong</strong><br></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End: simple testimonials -->
    <!-- Start: User Story -->
    <section id="homeStory">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <p>Our Brand Story Is A True Story&nbsp;<br></p>
                <p>The Chemist’s Commitment To<br>Creating Natural Products Only<br></p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true" class="story-bottom">
                <div class="story-left"><img src="assets/img/person290x290.jpg" alt="person"></div>
                <div class="story-right">
                    <p>“In my 32 years as a chemist, I have been offered multiple positions in companies that want me to create synthetic chemicals.<br><br>I’ve rejected them all.”<br><br>Follow <strong>Mr. Gatot Pulunggono’s</strong> story - OriCare’s lead
                        chemist, on his steadfast journey to pursuing the path of only working with natural ingredients, even at the expense of his own career.<br><br></p><a class="learnmore-btn" href="/story" aria-label="story page">Read full story</a></div>
            </div>
        </div>
    </section>
    <!-- End: User Story -->
    <!-- Start: User footer -->
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="product page">Hair Care</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/" aria-label="contact page">Home</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End: User footer -->
    
    
    
    


