
    
    <!-- Start: ingredients-page -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;Botanical Ingredients</h2>
            </div>
        </div>
        <div class="container ingredients">
            <div data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                <div class="title">
                    <p>100% Certiﬁed Raw Ingredients&nbsp;<br></p>
                    <p>Our Passion For Nature &amp; Botany</p>
                </div>
                <div class="ingredients-top-content">
                    <h4 class="mb-5">Plant ingredients were among the earliest cosmetics, skin and hair care known in the history of mankind. <br>Their natural dye, juices, and fragrant oils have been extracted and crafted for a variety of purposes from<br>the days of
                        old - and their beneﬁts are ever more relevant to the modern requirements today.&nbsp;<br><br>Unlike most shampoo products available on shelves today, our products do not contain bleach,Sodium lauryl sulfate,<br>or any synthetic
                        chemicals. OriCare shampoo products are made with 90% botanical ingredients and <br>10% pure water - ensuring a toxins-free thorough wash that retains the natural essential oils and<br>moisture levels in all hair types and sensitive
                        scalps.<br><br></h4>
                    <div class="ingredients-img flower"></div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
                <div class="title">
                    <p>What Does This Label Represent?&nbsp;<br></p>
                    <p>100% Certiﬁed R.A.W. Ingredients<br></p>
                </div>
                <div class="ingredients-top-content">
                    <h4 class="mb-5">The abbreviation R.A.W. stands for Real, Alive, and Whole. For a natural product to obtain this certiﬁcation,<br>they must comply with the following requirements and principles of GMP, HACCP, FSMA, HARPC, USDA<br>Organic, Non-GMO and
                        more. Essentially, ingredients that are certiﬁed R.A.W. are considered to be food grade.<br><br><strong>REAL&nbsp;</strong><br>Product must be 100% safe, 100% non-GMO, and a majority of the ingredients must be organic.<br><br><strong>ALIVE&nbsp;</strong><br>Ingredients
                        must have a high amount of bioavailable enzymes based on testing using CytoSolve® technology.<br><br><strong>WHOLE</strong><br>Product must be minimally processed (below 212ºF or 100ºC) and must have a high ANDI nutrient score.<br><br></h4>
                    <div class="ingredients-img berry">
                        <div>
                            <h3>Sourcing Of Natural Ingredients<br></h3>
                            <h3>Botanicals from the US,<br>H2O from Malaysia.<br></h3>
                        </div>
                </div>
            </div>
            <div class="ingredients-bottom-content">
                <h4>The ingredients we use in our OriCare shampoo products - fruits, ﬂowers, and herbs, are all ripened, harvested,and <br>wholly imported from USA before being processed at our plant in Perlis, Malaysia.&nbsp;<br><br>Each botanical ingredient
                    is handpicked and carefully selected for freshness before being distilled for the extraction <br>of their oils and enzymes - in their rawest natural form. Our manufacturing process is carefully controlled <br>to maximize quality and
                    to adhere to the stringent regulations set by the Ministry of Health, and certiﬁed by <br>Croda International Plc. as 100% free from animal derived ingredients or alcohol.<br><br></h4>
            </div>
        </div>
        </div>
    </section>
    <!-- End: ingredients-page -->
    <!-- Start: User footer -->
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="product page">Hair Care</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/" aria-label="contact page">Home</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End: User footer -->
    
    
    
    


