
    
    <!-- Start: story-1 -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;Our Story</h2>
            </div>
        </div>
        <div class="container" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
            <div class="title">
                <p>Our Brand Story Is A True Story&nbsp;<br></p>
                <p>The Chemist’s Commitment To Creating <br>Natural Products Only<br></p>
            </div>
            <div class="story-img"></div>
            <p class="font-light">“In my 32 years as a chemist, I have been offered multiple positions in companies that want me to work on creating synthetic chemicals.”<br><br>“I’ve rejected them all.”<br><br><strong>Mr. Gatot Pulunggono </strong>is OriCare’s lead chemist,
                persisting in his steadfast journey to pursue the path of only working with natural ingredients even at the expense of his own career. The esteemed chemist hails from Indonesia - growing up in the lushness of Southeast Asia’s rainforest
                that is blessed with a rich diversity of <strong>shrubs</strong> and <strong>herbs</strong>.<br><br>Pulunggono believes that with more knowledge and understanding about botany - people can reap the beneﬁts from nature in a more sustainable
                manner.&nbsp;“The shampoo and soap industry in this world has normalized the use of synthetic chemicals,” the chemist said in a recent interview, “In fact, nature has provided us with more than enough resources to <strong>keep our bodies healthy and clean</strong>.
                However, capitalism has made it so that synthetic products become more affordable to the masses - and as a result, there is now a perception that natural and organic products are for the rich.”<br><br>“But nature has never intended it
                to be that way,”<br><br>In agreement with Pulunggono’s statement, Billie Koh, the founder of OriCare added, “Most of the natural products we see on shelves today are so expensive and only the privileged group of consumers can afford it.
                It has become some sort of a status - but what Pulunggono and I are striving for is to make ‘<strong>natural</strong>’ a lifestyle that even the mass middle-class can adopt.”<br><br>“Eliminating the use of harmful synthetic chemicals in
                <strong>100% botanical shampoo products</strong> actually causes our cost to increase,” Koh continues, ”because we have to source for botanical ingredients that are not immediately available or mass produced.”<br><br>“This explains why
                natural products tend to cost more than products that are made purely from synthetic ingredients.”&nbsp;<br>Currently, OriCare imports 100% of its botanical ingredients from USA where the ingredients meet the stringent health and safety
                requirements. Quoting Pulunggono, the chemist takes extreme precaution in the selection of ingredients - ensuring that they are safe for the skin even when exposed in large quantities.<br><br>“There’s no problem when you expose your skin
                to a tremendous amount of raspberry juice or olive oils over long periods of time,” the chemist illustrates, “but you won’t even try it with bleach or <strong>SLES </strong>(sodium lauryl ether sulfate) - and these ingredients are present
                in almost every shampoo and soap products in the supermarket today, even if they claim to only use a small quantity.”<br><br>“This is why I stand by my values to work with only natural ingredients as a chemist,” he concludes.<br><br>Pulunggono
                is currently also serving as the lead consultant for the internationally renowned Paul Penders, a vegan cosmetics company, in which he also worked for as a Senior Chemist of Cosmetics since 2005. He is also the lead chemist and consultant
                for Seven Sisters Skin Solution in Malaysia.<br><br></p>
            <hr>
        </div>
        <div class="story-content-bottom">
            <div class="container story">
                <h3>Mr. Gatot Pulunggono<br></h3>
                <h4><br><strong>EXPERIENCE</strong><br><br><strong>May 2011 – September 2018</strong><br>ORGANIS MANUFACTURING S/B – as Senior Chemist Cosmetics<br>www.fulijaya.com<br><br><strong>January 2005 till January 2011</strong> ( until now as consultan)<br>PAUL
                    PENDERS INTERNATIONAL – as Senior Chemist Cosmetics.<br>www.paulpenders.com<br><br><strong>April 1991 – Sept 1995</strong><br>PT Grahageotama Perdana , Jakarta, Stevia Processing Plant as Senior Chemist , Assistant Plant Manager,<br>Research
                    and Development.<br>Manage in Processing products : Extraction, Puriﬁcation, Ion Exchange.<br>Evaporation , Crystallization , Rectiﬁcation.<br><br><strong>July 1987 till March 1991</strong><br>PT Coronet Crown Surabaya, Pharmaceutical
                    Factory as Chemist Analyst<br>Drug Stability Test Section in R &amp; D Division.<br><br><strong>EDUCATION</strong><br>University of GADJAH MADA, Yogyakarta<br>Bachelor Graduated Chemistry 1985<br>University of AIRLANGGA, Surabaya<br>Graduated
                    Chemistry, 1987<br></h4>
            </div>
        </div>
    </section>
    <!-- End: story-1 -->
    <!-- Start: User footer -->
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/story" aria-label="story page">Our Story</a></li>
                    <li><a href="/haircare" aria-label="product page">Hair Care</a></li>
                    <li><a href="/ingredients" aria-label="ingredients page">Botanical Ingredients<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="/" aria-label="contact page">Home</a></li>
                    <li><a href="/contact" aria-label="contact page">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <div class="thanks-subscribe">
                    <p id="successRespond2">Thank For Subscribe Us!</p>
                </div>
                <h3>Follow Us</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End: User footer -->
    
    
    
    


