@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tzt4ci');
  src:  url('../fonts/icomoon.eot?tzt4ci#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tzt4ci') format('truetype'),
    url('../fonts/icomoon.woff?tzt4ci') format('woff'),
    url('../fonts/icomoon.svg?tzt4ci#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-china.path1:before {
  content: "\e901";
  color: rgb(214, 36, 39);
}
.icon-china.path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(220, 48, 39);
}
.icon-china.path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(248, 209, 46);
}
.icon-china.path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(248, 209, 46);
}
.icon-china.path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(248, 209, 46);
}
.icon-china.path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(248, 209, 46);
}
.icon-china.path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(248, 209, 46);
}
.icon-united-kingdom.path1:before {
  content: "\e90c";
  color: rgb(240, 240, 240);
}
.icon-united-kingdom.path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path9:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 82, 180);
}
.icon-united-kingdom.path10:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom.path11:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom.path12:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom.path13:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-kingdom.path14:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-box:before {
  content: "\e902";
}
.icon-medal:before {
  content: "\e903";
}
.icon-instagram-1:before {
  content: "\e904";
}
.icon-facebook-1:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e91c";
}
.icon-headset:before {
  content: "\e91d";
}
.icon-instagram1:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e91a";
}
.icon-back:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91e";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}


@keyframes moveSlideshow {
  100% {
    transform: translateX(-100%);
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #FFF;
}

body {
  color: #555;
}