    <!-- Start: contactForm with detail -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/cn/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;联络我们</h2>

            </div>
        </div>
        <div class="contact-box">
            <div class="container contact-inner" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                <div class="contact-left">
                    <p>若您对我们的产品有疑问,欢迎联络我们以获得更多资讯,而最直接最快速的方法就是透过以下所提供的联络号码,拨电或Whatsapp发讯息,我们的团队随时准备好为您提供服务。
                        <br><br><strong>地址:</strong><br>No 222, Jalan
                        222, Lorong 2/2,<br>Taman Area Location Name.<br>Selangor, Malaysia.
                        <br><br><strong>电邮:</strong><br>oricare@gmail.com<br>
                        <br>拨电/Whatsapp:<br>+60 12-345-6789<br><br></p>
                </div>
                <div class="contact-right">
                    <div id="email">
                        <form id="submitForm" novalidate="">
                            <div class="form-group"><label for="name">姓名</label><input class="form-control" type="text" name="name" required="" aria-label="name"><div class="invalid-feedback">名称无效</div></div>
                            <div class="form-group"><label for="email">电邮</label><input class="form-control" type="email" required="" name="email" aria-label="email"><div class="invalid-feedback">不合规电邮</div></div>
                            <div class="form-group"><label for="message">讯息</label><textarea class="form-control" id="message" name="message" rows="4" required=""></textarea><div class="invalid-feedback">请留言</div></div>
                            <button class="learnmore-btn" id="sendMessage" type="submit">发送信息</button></form>
                    </div>
                    <div class="thanks-subscribe">
                        <p id="successRespond">谢谢！我们会尽快回复您...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/cn/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/cn/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="/cn/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/cn/" aria-label="contact page">首頁</a></li>
                    <li><a href="/cn/contact" aria-label="contact page">联络我们</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>