

    <!-- Start: product&slide detail -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/cn/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;头发护理</h2>
            </div>
        </div>
        <div class="container bottom-section-container" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
            <div class="product-inner">
                <a aria-label="carousel-1" data-target="#carousel-1" data-slide-to="0">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="/assets/img/passion.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare百香果滋润洗<br>发露 350ml<br><br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-target="#carousel-1" data-slide-to="1">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="/assets/img/raspberries.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare覆盆子滋润洗<br>发露 350ml<br><br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-target="#carousel-1" data-slide-to="2">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="/assets/img/grapefruit.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare葡萄柚柑橘滋<br>润洗发露 350ml<br><br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a aria-label="carousel-1" data-target="#carousel-1" data-slide-to="3">
                    <div class="product-inner-box">
                        <div class="inner-box"><img src="/assets/img/conditioner.png" alt="product">
                            <div class="inner-box-content">
                                <h3>OriCare深层修复花香<br>护发素 350ml<br><br></h3>
                                <p>RM69.90<br></p>
                            </div>
                        </div>
                    </div>
                </a>
                <div id="productDetail"></div>
            </div>
            <h3 class="product-title">产品描述</h3>
            <hr>
        </div>
        <div class="product-bottom-section">
            <div class="container">
                <div id="carousel-1" class="carousel slide" data-ride="carousel" data-aos-once="true">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item cn active">
                            <div class="item-inner">
                                <h3>OriCare百香果滋润洗发露 350ml<br><br></h3>
                                <p>这款洗发露适用于一般发质与头皮,它蕴含天然百香果萃取、 鳄梨油、橄榄油和小麦蛋白营养混合物的配方,能有效 净化并让头发与头皮保持自然平衡,是你用作日常 头发护理的是理想选择。
                                    <br><br>从百香果中萃取的活性成分可促 进头发和头皮的健康成长,鳄梨油和橄榄油可让减少头发的毛躁感,维持光泽垂顺的质感,而小麦蛋白则可助紧实毛囊强化发根并减少脱发,适合所有年龄层和家庭使用。
                                </p><br>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="/assets/img/passion.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>使用Oricare洗发露之前,先用温水将 头发冲湿。</li>
                                        <li>把洗发露倒在水中揉搓起泡,在用指腹 轻柔地按摩头皮。</li>
                                        <li>彻底将头发冲净;必要时可重复涂抹洗发露再冲洗。</li>
                                        <li>在湿发上均匀涂抹OriCare深层修复花香护发素,等待1分钟后再冲洗。<br></li>
                                    </ul>
                                </div><br>
                                <h5><strong>从市售矽灵洗头露转用纯天然洗发露的过渡期</strong><br></h5>
                                <p>一般的市售洗头露多数都含有矽灵,这是因为矽灵一旦接触到头发,就会把毛鳞片之间的空隙填满,让使用者在使用后觉得头发变得滑顺,而误以为这是产品带来的效果。但你必 须知道,矽灵是无法被彻底洗净,反之将随着使用的次数越多, 让发丝外层上的矽灵覆盖层面变得越厚。最终,毛囊与发质会因透氧不足而逐 渐萎缩及失去光泽,头皮也容易发痒,甚至引发脱发的後遗症。
                                    <br><br>当你开始使用不含任何化学添加物的 OriCare纯天然洗发露时,秀发中将不再含有化学物 质和残留物。虽然可能在使用初期你会 觉得头发不如当初有光泽,甚至干燥或油腻,但请记住,这是因为头发上累积多年的人㐀化学物 质正逐渐剥落。
                                    <br><br>OriCare纯天然洗发露的真实效果将在几天或几周后(因人而异)正式展 现,届时头发和头皮会因为已适应100%纯天然的护发方案后,重回最初健康的状态。所以只要在这段过渡期里好好坚持,想要有一头乌黑亮丽的秀发再也不是梦!<br></p>
                            </div>
                        </div>
                        <div class="carousel-item cn">
                            <div class="item-inner">
                                <h3>OriCare覆盆子滋润洗发露 350ml<br><br></h3>
                                <p>对抗脱发不难,OriCare以天然成分--覆盆子及小麦蛋白 营养混合物所调制出的特殊配方,就是其一方法! 营养丰富的覆盆子内含有机酸、糖类及维生素,可补充头皮所欠缺的营养;而小麦蛋白则可强韧发根,减少脱发现象。
                                    <br><br>而两者的完美融合可有效延长头发生长周期,唤醒休眠中的萎缩毛囊,从而延长毛发生命周期,孕育出健康 浓密的头发,适合拥有稀疏发质的男女使用。
                                </p><br>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="/assets/img/raspberries.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>使用Oricare洗发露之前,先用温水将 头发冲湿。</li>
                                        <li>把洗发露倒在水中揉搓起泡,在用指腹 轻柔地按摩头皮。</li>
                                        <li>彻底将头发冲净;必要时可重复涂抹洗发露再冲洗。</li>
                                        <li>在湿发上均匀涂抹OriCare深层修复花香护发素,等待1分钟后再冲洗。<br></li>
                                    </ul>
                                </div><br>
                                <h5><strong>从市售矽灵洗头露转用纯天然洗发露的过渡期</strong><br></h5>
                                <p>一般的市售洗头露多数都含有矽灵,这是因为矽灵一旦接触到头发,就会把毛鳞片之间的空隙填满,让使用者在使用后觉得头发变得滑顺,而误以为这是产品带来的效果。但你必 须知道,矽灵是无法被彻底洗净,反之将随着使用的次数越多, 让发丝外层上的矽灵覆盖层面变得越厚。最终,毛囊与发质会因透氧不足而逐 渐萎缩及失去光泽,头皮也容易发痒,甚至引发脱发的後遗症。
                                    <br><br>当你开始使用不含任何化学添加物的 OriCare纯天然洗发露时,秀发中将不再含有化学物 质和残留物。虽然可能在使用初期你会 觉得头发不如当初有光泽,甚至干燥或油腻,但请记住,这是因为头发上累积多年的人㐀化学物 质正逐渐剥落。
                                    <br><br>OriCare纯天然洗发露的真实效果将在几天或几周后(因人而异)正式展 现,届时头发和头皮会因为已适应100%纯天然的护发方案后,重回最初健康的状态。所以只要在这段过渡期里好好坚持,想要有一头乌黑亮丽的秀发再也不是梦!
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item cn">
                            <div class="item-inner">
                                <h3>OriCare深层修复花香护发素 350ml<br><br></h3>
                                <p>拥有毛躁头发的你,总是羡慕别人迎风而起的一头乌黑秀发?那就让OriCare深层修复花香护发素为你抚平不规则的发丝及柔化卷曲不服帖的发质吧!这款天然护发素在配方上融合了椰子油、薰衣草精油和 萝卜籽油的营养成分,可有效于修复毛 鳞片,让头发从根部到发梢恢复光泽柔顺。
                                    <br><br>配方中的纯天然成分内含有益的 营养成分,有助于用来 锁住头发内的营养和水分,重新塑㐀光 泽亮丽的秀发。薰衣草精油可促 进头发生长及舒缓紧张,而萝卜籽油则可让头发变得柔软有弹性,使头发变得有光泽。
                                </p><br>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="/assets/img/grapefruit.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>使用Oricare洗发露之前,先用温水将 头发冲湿。</li>
                                        <li>把洗发露倒在水中揉搓起泡,在用指腹 轻柔地按摩头皮。</li>
                                        <li>彻底将头发冲净;必要时可重复涂抹洗发露再冲洗。</li>
                                        <li>在湿发上均匀涂抹OriCare深层修复花香护发素,等待1分钟后再冲洗。<br></li>
                                    </ul>
                                </div><br>
                                <h5><strong>从市售矽灵洗头露转用纯天然洗发露的过渡期</strong><br></h5>
                                <p>一般的市售洗头露多数都含有矽灵,这是因为矽灵一旦接触到头发,就会把毛鳞片之间的空隙填满,让使用者在使用后觉得头发变得滑顺,而误以为这是产品带来的效果。但你必 须知道,矽灵是无法被彻底洗净,反之将随着使用的次数越多, 让发丝外层上的矽灵覆盖层面变得越厚。最终,毛囊与发质会因透氧不足而逐 渐萎缩及失去光泽,头皮也容易发痒,甚至引发脱发的後遗症。
                                    <br><br>当你开始使用不含任何化学添加物的 OriCare纯天然洗发露时,秀发中将不再含有化学物 质和残留物。虽然可能在使用初期你会 觉得头发不如当初有光泽,甚至干燥或油腻,但请记住,这是因为头发上累积多年的人㐀化学物 质正逐渐剥落。
                                    <br><br>OriCare纯天然洗发露的真实效果将在几天或几周后(因人而异)正式展 现,届时头发和头皮会因为已适应100%纯天然的护发方案后,重回最初健康的状态。所以只要在这段过渡期里好好坚持,想要有一头乌黑亮丽的秀发再也不是梦!</p>
                            </div>
                        </div>
                        <div class="carousel-item cn">
                            <div class="item-inner">
                                <h3>OriCare葡萄柚柑橘滋润洗发露 350ml<br><br></h3>
                                <p>集合纯天然葡萄柚萃取、 纯天然柑橘精华、茶树精油和小麦蛋白营养混合物的特殊配方,是 针对头皮剥落及对抗头皮屑所调配的特殊配方,可从里到外抑制皮脂分泌 过渡旺盛,净化油腻的头发和头皮屑。
                                    <br><br>其中葡萄柚萃取物有助于 杀害导致头皮剥落的菌群,并防止 过量的皮脂存在,㐀成 头皮屑的堆积继而堵塞毛囊。柑橘精 华可增强和刺激头发生长gal度,而茶树精油具有消炎、抗菌、收 敛及平衡油脂分泌之作用;小麦蛋白 则可强韧发根,减少脱发现象。值得一提的是,使用葡萄柚柑橘滋润洗发露后,头皮上还会留下凉凉的感觉,非常清爽,适用于一般 发质与头皮。
                                </p><br>
                                <div class="item-detail-w-photo">
                                    <div class="detail-w-photo"><img src="/assets/img/conditioner.png" alt="product"></div>
                                    <ul class="product-ul">
                                        <li>使用Oricare洗发露之前,先用温水将 头发冲湿。</li>
                                        <li>把洗发露倒在水中揉搓起泡,在用指腹 轻柔地按摩头皮。</li>
                                        <li>彻底将头发冲净;必要时可重复涂抹洗发露再冲洗。</li>
                                        <li>在湿发上均匀涂抹OriCare深层修复花香护发素,等待1分钟后再冲洗。<br></li>
                                    </ul>
                                </div><br>
                                <h5><strong>从市售矽灵洗头露转用纯天然洗发露的过渡期</strong><br></h5>
                                <p>一般的市售洗头露多数都含有矽灵,这是因为矽灵一旦接触到头发,就会把毛鳞片之间的空隙填满,让使用者在使用后觉得头发变得滑顺,而误以为这是产品带来的效果。但你必 须知道,矽灵是无法被彻底洗净,反之将随着使用的次数越多, 让发丝外层上的矽灵覆盖层面变得越厚。最终,毛囊与发质会因透氧不足而逐 渐萎缩及失去光泽,头皮也容易发痒,甚至引发脱发的後遗症。
                                    <br><br>当你开始使用不含任何化学添加物的 OriCare纯天然洗发露时,秀发中将不再含有化学物 质和残留物。虽然可能在使用初期你会 觉得头发不如当初有光泽,甚至干燥或油腻,但请记住,这是因为头发上累积多年的人㐀化学物 质正逐渐剥落。
                                    <br><br>OriCare纯天然洗发露的真实效果将在几天或几周后(因人而异)正式展 现,届时头发和头皮会因为已适应100%纯天然的护发方案后,重回最初健康的状态。所以只要在这段过渡期里好好坚持,想要有一头乌黑亮丽的秀发再也不是梦!
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="control control-prev" href="#carousel-1" data-slide="prev" role="button"><i class="icon-back"></i></a><a class="control control-next" href="#carousel-1" data-slide="next" role="button"><i class="icon-next"></i></a></div>
    </section>
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/cn/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/cn/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="/cn/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/cn/" aria-label="contact page">首頁</a></li>
                    <li><a href="/cn/contact" aria-label="contact page">联络我们</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>