    <section class="top-section page-section">
        <div class="container top-section-inner">
            <div data-aos="fade" data-aos-duration="1500" data-aos-once="true" class="header-inner">
                <div class="top-content">
                    <p class="green-text">让植物科学<br></p>
                    <h2><strong>为你把秀发<br>回归自然</strong><br></h2>
                    <p>我们的护发产品系列源自100%纯天然萃取物,包括严格挑选的水果、花卉、草药及草本成分。<br>产品皆由专业的化学及科学研发团队精心打㐀而成,他们在开发美发及美容自然产品上已有着40年的丰富经验,可确保产品的安全性和有效性。</p>
                </div>
            </div>
        </div>
        <div class="top-socialBtn"><a id="fbBtn" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="fa icon-facebook-1"></i></a><a id="instaBtn" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram"></i></a></div>
    </section>
    <!-- Start: 1 Row 4 Columns -->
    <div id="after-header">
        <div class="container">
            <div class="row after-header-inner">
                <div class="col-md-3 after-header-box">
                    <div class="header-box-inner">
                        <div data-aos="zoom-in" data-aos-duration="1600" data-aos-once="true"><i class="fa icon-box"></i>
                            <div class="header-box-content">
                                <p><strong>适合敏感性肌肤</strong><br></p>
                                <p>产品不含漂白剂也无添加人工香料<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 after-header-box">
                    <div class="header-box-inner">
                        <div data-aos="zoom-in" data-aos-duration="1600" data-aos-once="true"><i class="fa icon-medal"></i>
                            <div class="header-box-content">
                                <p><strong>100%从美国进口的草本成分</strong><br></p>
                                <p>包括美国种植的水果、花卉和草药<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 4 Columns -->
    <!-- Start: homeproduct -->
    <section id="homeProduct">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <p>探索我们引以为傲的100%纯素天然护发产品<br></p>
                <p>草本滋养洗发露系列</p>
            </div>
            <div class="product-box">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" data-aos-once="true" class="left">
                    <div class="box-bottom-content"><a class="learnmore-btn float-right" href="/cn/cn/haircare" aria-label="product page">了解更多</a></div>
                    <div class="product-box-bg"></div>
                    <div class="box-top-content">
                        <h3>覆盆子滋润洗发露<br></h3>
                        <p>改善扁塌发量洗出<br>丰盈蓬松感<br></p>
                    </div>
                </div>
                <div class="right">
                    <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500" data-aos-once="true" class="box-right-top">
                        <div class="box-top-content">
                            <h3>葡萄柚柑橘滋润洗发露<br></h3>
                            <p>针对头皮屑及干性头皮<br></p>
                        </div>
                        <div class="box-bottom-content"><a class="learnmore-btn float-right" href="/cn/cn/haircare" aria-label="product page">了解更多</a></div>
                        <div class="product-box-bg top"></div>
                    </div>
                    <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="box-right-bottom">
                        <div class="box-right-inner">
                            <h3>草本滋养<br>洗发露系列</h3>
                            <div></div>
                            <a class="learnmore-btn" href="/cn/cn/haircare" aria-label="product page">显示全部</a></div>
                        <div class="product-box-bg bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End: homeproduct -->
    <!-- Start: ingredients -->
    <section id="homeIngredients">
        <div class="container container-ingredients">
            <div class="ingredients-content">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="ingredients-top">
                    <p>100%天然成分认证</p>
                    <p>我们对大自然及植物学的热情<br></p>
                    <p>与一般市售的洗发露不一样,OriCare旗下所有洗发露不含漂白剂、酒精、十二烷基硫酸钠或任何合成化学物质。我们的产品由90%的天然植物萃取及10%的纯净水制㐀而成,不仅无毒素无化学残留素,还能彻底被洗净,为各种发质与敏感性的头皮,给予天然精油保护和水份滋润。<br></p>
                    <a class="learnmore-btn" href="/cn/cn/ingredients" aria-label="ingredients page">了解详情</a></div>
            </div>
        </div>
    </section>
    <!-- End: ingredients -->
    <!-- Start: simple testimonials -->
    <section id="homeTestimonials">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <h2 class="title-1">产品见证<br></h2>
                <p>顾客分享用后感<br></p>
            </div>
            <div class="testimonial-bottom">
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="testimonial-box">
                    <p>“我对覆盆子滋润洗发露留下了深刻的印象,虽然它只是一款RM49的产品,但表现却远远超出了我的期待!用上它后,我的脱发变得不再严重,发量也变得更浓密柔顺了,是款性价比非常高的产品!”<br><br></p>
                    <p><strong>Ms. Angie Chia</strong><br></p>
                </div>
                <div data-aos="fade-up" data-aos-duration="1400" data-aos-once="true" class="testimonial-box">
                    <p>“作为一位常常必须戴着头巾的穆斯林女性,要在市面上找到一款可以平衡头皮油脂分泌的纯天然洗发露真的不容易。幸运的是,我遇上了OriCare的百香果滋润洗发露,用后一整天头发都可保持轻盈的状态!”<br><br></p>
                    <p><strong>Ms. Iya Shamsul</strong><br></p>
                </div>
                <div data-aos="fade-up" data-aos-duration="1800" data-aos-once="true" class="testimonial-box">
                    <p>“我长期面对着头皮干痒和头皮屑如雪花纷飞的状况,即使每个月在专业头皮护理上花费高达500令吉,也仍然没有得到改善!但当我尝试使用葡萄柚柑橘滋润洗发露后,我的头皮状况在3个月内就有了好转,而且还节省了不少开支呢!”<br><br></p>
                    <p><strong>Mdm. Khong</strong><br></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End: simple testimonials -->
    <!-- Start: User Story -->
    <section id="homeStory">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="title">
                <p>真实不虚的品牌故事<br></p>
                <p>一位护肤品研发配方师,<br>对创㐀天然产物的承诺<br></p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="1500" data-aos-once="true" class="story-bottom">
                <div class="story-left"><img src="/assets/img/person290x290.jpg" alt="person"></div>
                <div class="story-right">
                    <p>“在我担任护肤品研发配方师的32年职业生涯里,无数公司主动邀请我担任有关合成创㐀化学品一职。”<br><br>“但我都一一拒绝了!”<br><br>一起来看看OriCare的首席护肤品研发配方师--<strong>Gatot Pulunggono</strong>在追求使用天然成分的道路上,坚持不懈的故事吧!<br><br></p><a class="learnmore-btn" href="/cn/story" aria-label="story page">阅读全文</a></div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/cn/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/cn/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="/cn/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/cn/" aria-label="contact page">首頁</a></li>
                    <li><a href="/cn/contact" aria-label="contact page">联络我们</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>