


    <!-- Start: ingredients-page -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/cn/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;草本成分</h2>
            </div>
        </div>
        <div class="container ingredients">
            <div data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                <div class="title">
                    <p>100%天然成分认证<br></p>
                    <p>我们对大自然及植物学的热情</p>
                </div>
                <div class="ingredients-top-content">
                    <h4 class="mb-5">草本植物成分是人类美容史上最古老和最安全的护肤及护发品。聪明的古代先人们以与生俱来的智慧及洞悉植物的独特功能,使用天然植物萃取成分用作天然染料或精油萃取,运用在人类的需要上。而草本植物的功效及益处,正与现代人尽量减少化学物质使用量的理念息息相关。
                        <br><br>与一般市售的洗发露不一样,OriCare所有洗发露不含漂白剂、酒精、十二烷基硫酸钠或任何合成化学物质。我们的产品由90%的天然植物萃取及10%的纯净水制㐀而成,不仅无毒素无化学残留素,还能彻底被洗净,为各种发质与敏感性的头皮,给予天然精油保护和水份滋润。<br><br></h4>
                    <div class="ingredients-img flower"></div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
                <div class="title">
                    <p>这标志代表<br></p>
                    <p>100%天然成分认证<br></p>
                </div>
                <div class="ingredients-top-content">
                    <h4 class="mb-5">英文缩词R.A.W.,代表着REAL“真实”、ALIVE“活性成分”及Whole“完整性”。 对于想要获得此认证的天然产品,都必须符合良好生产规范(GMP)、危害分析及关键控制点(HACCP)、食品安全现代化法案(FSMA)、基于风险的预防性控制(HARPC)、美国有机食品认证(USDA Organic)及销售非转基因(non-GMO)等管理体系的审核及产品认证。换句话说,基本上经过R.A.W.认证的产品,多数都为食品级的。
                    <br><br><strong>REAL 真实</strong><br>产品必须100%安全且100%非转基因,并且其中绝大部分的材料成分必须是有机无害的。
                    <br><br><strong>ALIVE 活性成分</strong><br>在经过CytoSolve®技术进行测试中,产品制作成分中必须显示具有大量的生物酶(由活细胞产生的有机物)元素。
                    <br><br><strong>Whole 完整性</strong><br>产品的加工温度必须低于212oF或100oC,而且综合营养密度指数(ANDI)必须达高分程度。<br><br></h4>
                    <div class="ingredients-img berry">
                        <div>
                            <h3>纯天然成分源自<br></h3>
                            <h3>美国的草本植物<br>马来西亚的水源<br></h3>
                        </div>
                </div>
            </div>
            <div class="ingredients-bottom-content">
                <h4>OriCare旗下的洗发露系列产品中,所使用的纯天然成分如水果、花卉和草药,从种植裁培开始到收割的每一步骤,都在美国由当地匠人及村民共同培育养植,利用当地的优质地理环境,细心裁培出质量优良的草本植物。<br>最后再进口至马来西亚,于玻璃市州的工厂进行最后的生产及包装。
                    <br><br>每种植物成分都由人手进行筛选,从中选出质量优良的进行萃取。以传统手工蒸馏,不破坏植物中活性成分及养份的方法,<br>利用低温一滴一滴蒸馏出最珍贵的精油及酶。每一个制作步骤及过程都受到质量的控管,以达到卫生部所制定的严厉标准。<br>我们旗下的产品也成功获得英國世界名厂Croda International Plc的认证,<br>100%不含酒精,不含动物来源成分,以最原始的高质量产品满足消费者的需求。<br><br></h4>
            </div>
        </div>
        </div>
    </section>
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/cn/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/cn/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="/cn/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/cn/" aria-label="contact page">首頁</a></li>
                    <li><a href="/cn/contact" aria-label="contact page">联络我们</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>

