

    <!-- Start: story-1 -->
    <section class="page-section">
        <div class="page-title">
            <div class="container page-container"><a href="/cn/" aria-label="to home"><i class="icon-home"></i></a>
                <h2>&nbsp; &gt; &nbsp;我们的故事</h2>
            </div>
        </div>
        <div class="container" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
            <div class="title">
                <p>真实不虚的品牌故事<br></p>
                <p>一位护肤品研发配方师,<br>对创㐀天然产物的承诺<br></p>
            </div>
            <div class="story-img"></div>
            <p class="font-light">“在我担任护肤品研发配方师的32年职业生涯里,无数公司主动邀请我担任有关合成创㐀化学品一职,<br>但我都一一拒绝了!
                <br><br><strong>Mr. Gatot Pulunggono</strong>是OriCare的首席护肤品研发配方师,他在使用天然成分的道路上坚持不懈地追求着,更不惜以自己的职业作为代价。 这位受人尊敬的护肤品研发配方师来自印度尼西亚,他生长在东南亚茂密雨林的生态环境中,<strong>丰富的灌木和草药</strong>都是他珍而重之的天然资源。
                <br><br>Pulunggono先生始终保持着一个信念:只要对植物学有了更深入的了解和理解,人们就可以持续性的从自然界中获取大自然所给予的恩惠。
                <br><br>他最近在一个访谈上说道:“洗发露和肥皂产业,已经把会对人类和环境㐀成危害的化学物质使用合理化,但事实上,天赐的大自然已经为我们提供了非常足够的天然资源,来维持健康和清洁,然而资本主义的商人们却逐步破坏这条自然生态链。他们以廉价且有害的化学物质制作产品,并将之推出在市场上牟利。而这类产品的定价相比天然有机产品来得低,渐渐形成了大众认为纯天然产品只为富人所用的错误认知。”
                <br><br>“但大自然所给予的真善美,是人人生而平等的。”
                <br><br>OriCare的创办人--Billie Koh,对Pulunggono先生的声明非常认同,他补充道:“如今市场上有一个常态,那就是货架上的<strong>纯天然产品</strong>定价非常昂贵,仿佛只有富人或有权势者才能负担得起,这也是最我和Pulunggono不愿看见的,因此我们达成了一样的理念,那就是要让广大的中产阶级,也能无负担的享受纯天然无害的生活方式,让生活回归天然化。”
                <br><br>Koh先生续说:“在制作<strong>100%纯天然草本植物洗发露</strong>的过程中,必须完全摒弃有害合成化学物质的使用。纯天然有机产品主要源自植物,无论是有机种植或精油萃取,都比单纯地添加化学成分来得复杂与费时间,我们既无法定制植物的生产周期长,更不能控制植物的产量。”
                <br><br>“这也解释了为什么纯天然产品比合成化学物质所制成的产品,价格来得更高的原因。”
                <br><br>目前,OriCare旗下产品的生产原料为100%美国进口的植物成分,这些成分都<strong>已通过严格的健康安全要求审核</strong>。就如同Pulunggono先生所说,化学及科学研发团队在选择成分时,得格外小心的确保该制作成分,在大量接触使用者的皮肤时是相对安全的。
                <br><br>“当您的皮肤长时间大量接触覆盆子汁或橄榄油时,完全不会㐀成皮肤伤害也绝无化学的残留,但在一般洗发露及肥皂中被广泛使用的漂白剂或十二烷基醚硫酸钠(SLES)等化学毒素,却会从皮肤上的毛孔渗入人体。即使成分表上显示仅使用少量,长期使用的话也就等同人体在日以继夜的吸毒。”</p>
            <hr>
        </div>
    <div class="story-content-bottom">
        <div class="container story">
            <h3>关于 Mr. Gatot Pulunggono<br></h3>
            <h4><br><b><strong>工作经验</strong><br></b>
                <br><strong>2011年5月– 2018年9月</strong><br>Fulijaya Manufacturing Sdn Bhd - 担任高级化妆品化学师<br>www.fulijaya.com<br>
                <br><strong>2005年1月至2011年1月</strong>（至今仍担任顾问）<br>Paul Penders International – 担任高级化妆品化学师<br>www.paulpenders.com<br>
                <br><strong>1991年4月至 1995年9月</strong><br>印尼雅加达甜菊糖生产加工厂PT Grahageotama Perdana - 担任高级化学研究师及产品研发经理<br>管理范畴包括：萃取、提纯、离子交换、蒸发、结晶化、精馏<br>
                <br><strong>1987年7月至1991年3月</strong><br>印尼泗水化学制药厂PT Coronet Crown - 担任化学分析师，在研发部门负责药物稳定性试验<br>
                <br><strong>教育经历</strong><br>1985年，毕业于印尼日惹加查马达大学（Universitas Gadjah Mada）的化学专业系<br>1987年，毕业于印尼泗水艾尔朗加大学（Airlangga University）的专业化学系<br>
                <br><strong>仪器分析技能</strong><br>色谱分析法：气体、高效液相色谱法（HPLC）、薄层色谱法（TLC）<br>分光光度计：红外光（IR）、紫外线（UV）、原子吸收分光光度计（AAS）、质谱<br>
                <br><strong>个人资料</strong><br>状态：已婚<br>年龄：62岁<br>
                <br><strong>其他（个人链接）</strong><br>1.Reenas Cosmetic - 雪兰莪<br>2.Pesona Kosmetik - 雪兰莪<br>3.Nilam Murni – 沙巴美里<br>4.Oud Wangi Enterprise – 吉打兰卡威<br>5.Aura Tuba - www.auratuba.com<br>6.Seven Sisters Skin Solution - www.sevensistersskinsolution.com/<br>7.Oricare - 雪兰莪</h4>
        </div>
    </div>
    </section>
    <footer>
        <div class="container responsive-container">
            <div class="footer-about">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="/cn/story" aria-label="story page">我们的故事</a></li>
                    <li><a href="/cn/haircare" aria-label="haircare page">头发护理</a></li>
                    <li><a href="/cn/ingredients" aria-label="ingredients page">草本成分<br></a></li>
                </ul>
            </div>
            <div class="footer-help">
                <h3>帮助</h3>
                <ul>
                    <li><a href="/cn/" aria-label="contact page">首頁</a></li>
                    <li><a href="/cn/contact" aria-label="contact page">联络我们</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <h3>追踪我们</h3>
                <div class="footer-social"><a class="footer-facebook" href="https://www.facebook.com/OfficialOricare/" aria-label="facebook"><i class="typcn typcn-social-facebook-circular"></i></a><a class="footer-instagram" href="https://www.instagram.com/oricare_organic_shampoo/" aria-label="instagram"><i class="fa icon-instagram-1" aria-label="facebook"></i></a></div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © 2019 OriCare Botanical Shampoo (M) Sdn Bhd. All rights reserved.</p>
            </div>
        </div>
    </footer>